.FormularioHTMLDeCedulaDeIdentidad {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1.5em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.FormularioHTMLDeCedulaDeIdentidad .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.4em;
  margin-bottom: 1em;
  font-weight: bold;
  color: GREY;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group input {
  color: blue;
  border-radius: 6px;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group input:hover:not(:disabled) {
  border-color: rgb(65, 169, 201);
  border-width: 2px;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  height: 2em;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group input[type=text],
.FormularioHTMLDeCedulaDeIdentidad select {
  height: 2em;
  text-transform: uppercase;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group input[type=text]:focus,
.FormularioHTMLDeCedulaDeIdentidad select:focus {
  border-color: rgb(65, 169, 201);
  border-width: 2px;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group .BotonEnviar {
  font-weight: bold;
  grid-column: span 2;
  justify-self: center;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 80%;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group .BotonEnviar:not(:disabled) {
  background-color: #1157a7;
  color: white;
}
.FormularioHTMLDeCedulaDeIdentidad .form-group .BotonEnviar:not(:disabled):hover {
  background-color: #062952;
  cursor: pointer;
}
@media (min-width: 600px) and (max-width: 1360px) {
  .FormularioHTMLDeCedulaDeIdentidad .form-group {
    padding: 0.1em;
  }
  .FormularioHTMLDeCedulaDeIdentidad .form-group * {
    font-size: 1em;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .FormularioHTMLDeCedulaDeIdentidad .form-group {
    padding: 0.1em;
  }
  .FormularioHTMLDeCedulaDeIdentidad .form-group * {
    font-size: 0.8em;
  }
}
@media (max-width: 600px) {
  .FormularioHTMLDeCedulaDeIdentidad .form-grid {
    display: block;
  }
  .FormularioHTMLDeCedulaDeIdentidad .form-group {
    padding: 0.1em;
  }
  .FormularioHTMLDeCedulaDeIdentidad .form-group * {
    font-size: 0.9em;
  }
}
@media (max-width: 400px) {
  .FormularioHTMLDeCedulaDeIdentidad .form-group {
    display: block;
  }
  .FormularioHTMLDeCedulaDeIdentidad .form-group * {
    width: 100%;
    display: block;
  }
}