<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Cedula de Identidad</title>
</head>

<body>

    <!-- FORMULARIO DE ACTUALIZACIÓN -->
    <form class="form-container" id="FormularioDeCedulaDeIdentidad">
        <div class="form-grid">
            <div class="form-group">
                <label for="inputPrimerNombre">Primer Nombre</label>
                <input type="text" id="inputPrimerNombre" value="Juan" required>
            </div>
            <div class="form-group">
                <label for="inputSegundoNombre">Segundo Nombre</label>
                <input type="text" id="inputSegundoNombreNombre" value="Carlos" required>
            </div>
            <div class="form-group">
                <label for="inputPrimerApellido">Primer Apellido</label>
                <input type="text" id="inputPrimerApellido" value="Pérez" required>
            </div>
            <div class="form-group">
                <label for="inputSegundoApellido">Segundo Apellido</label>
                <input type="text" id="inputSegundoApellido" value="Cotapos" required>
            </div>
            <div class="form-group">
                <label for="inputRut">RUT</label>
                <input type="text" id="inputRut" value="12.345.678-K" required>
            </div>
            <div class="form-group">
                <label for="inputNumeroDeDocumento">Nº Documento (Serie)</label>
                <input type="text" id="inputNumeroDeDocumento" value="A12345678" required>
            </div>
            <div class="form-group">
                <label for="inputNacionalidad">Nacionalidad</label>
                <input type="text" id="inputNacionalidad" value="Chilena" required>
            </div>
            <div class="form-group">
                <label for="inputSexo">Sexo</label>
                <select id="inputSexo" required>
                    <option value="M" selected>Masculino (M)</option>
                    <option value="F">Femenino (F)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputFechaDeNacimiento">Fecha de Nacimiento</label>
                <input type="text" id="inputFechaDeNacimiento" value="15 FEB 1988" required>
            </div>
            <div class="form-group">
                <label for="inputFechaDeEmision">Fecha de Emisión</label>
                <input type="text" id="inputFechaDeEmision" value="26 JUN 2020" required>
            </div>
            <div class="form-group">
                <label for="inputFechaDeVencimiento">Fecha de Vencimiento</label>
                <input type="text" id="inputFechaDeVencimiento" value="15 FEB 2028" required>
            </div>
            <div class="form-group">
                <button>ENVIAR</button>
            </div>
        </div>
    </form>
</body>

</html>